* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.small {
  font-size: 0.8rem;
}

.extra-small {
  font-size: 0.6rem;
}

.toast {
  bottom: 10px;
  right: 10px;
}
